body {
    background-color: black;
    margin: 20px;;
    padding: 0;
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

#rpm_bar {
    margin: 10 auto;
    width: 80%;
}

#bar {
    height: 80px;
    width: 100%;
}

#digital_rpm_bar {
    width: 100%;
    height: 100%;
}

#digital_bar {
    background: white;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    margin: 20px 0;
    grid-template-columns: 17,5% 17,5% 30% 17,5% 17,5%;
    align-items: stretch;
    grid-auto-rows: 100px;
}

.grid-item {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
}

.item-desc {
    position: absolute;
    top: -0.8em;
    right: 25%;
    background: black;
    z-index: 1;
    text-align: center;
    width: 50%;
    font-size: 0.8em
}

#speed {
    grid-column: 1;
    grid-row: 1;
}

#rpm {
    grid-column: 2;
    grid-row: 1;
}

#gear {
    grid-column: 3;
    grid-row: 1 / 3;
}

#fuel {
    grid-column: 1;
    grid-row: 2;
}

#lap {
    grid-column: 2;
    grid-row: 2;
}

#current {
    grid-column: 4 / 6;
    grid-row: 1;
}

#prev {
    grid-column: 4 / 6;
    grid-row: 2;
}

#best {
    grid-column: 4 / 6;
    grid-row: 3;
}

#pos {
    grid-column: 3;
    grid-row: 3;
}

.item-text {
    position: absolute;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gear-text {
    font-size: 5em;
    text-align: center;
}

.gear_shift_active {
    background: rgba(255, 0, 0, 0.404);
}