body {
    background-color: black;
    margin: 20px;;
    padding: 0;
    color: white;
    font-family: "Arial";
    font-weight: bold;
}

#rpm_bar {
    margin: 10 auto;
    width: 100%;
}

#bar {
    height: 80px;
    width: 100%;
}

#digital_rpm_bar {
    width: 100%;
    height: 100%;
}

#digital_bar {
    position: relative;
    height: 100%;
    top: -80px;
}

.bg-normal {
    background: rgba(0, 58, 219, 0.5);
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    margin: 20px 0;
    grid-template-columns: 17,5% 17,5% 30% 17,5% 17,5%;
    align-items: stretch;
    grid-auto-rows: 60px;
}

.grid-item {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
}

.item-desc {
    position: absolute;
    top: -0.8em;
    right: 25%;
    background: black;
    z-index: 1;
    text-align: center;
    width: 50%;
    font-size: 0.8em
}

#speed {
    grid-column: 1;
    grid-row: 1;
}

#rpm {
    grid-column: 2;
    grid-row: 1;
}

#gear {
    grid-column: 3;
    grid-row: 1 / 4;
}

#fuel {
    grid-column: 1;
    grid-row: 2;
}

#lap {
    grid-column: 2;
    grid-row: 2;
}

#current {
    grid-column: 4 / 6;
    grid-row: 1;
}

#diff {
    grid-column: 4 / 6;
    grid-row: 2;
}

#prev {
    grid-column: 4 / 6;
    grid-row: 3;
}

#best {
    grid-column: 4 / 6;
    grid-row: 4;
}

#pos {
    grid-column: 3;
    grid-row: 4;
}

#tire-prs {
    grid-column: 1;
    grid-row: 5;
}

#tire-temp {
    grid-column: 2;
    grid-row: 5;
}

#tire-wear {
    grid-column: 3;
    grid-row: 5;
}

#pace {
    grid-column: 4 / 6;
    grid-row: 5;
}

.item-text {
    position: absolute;
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gear-text {
    font-size: 6em;
    text-align: center;
    margin: 0;
}

.gear_shift_active {
    background: rgba(255, 0, 0, 0.5);
}

.visible {
    display: inline;
}

.hidden {
    display: none;
}

.rpm-disp {
    border-left: 1px solid white;
    height: 100%;
    position: relative;
}

.bar-container {
    display: grid;
    justify-items: stretch;
    grid-auto-flow: column;
}

.rpm-num {
    position: absolute;
    left: 5px;
    bottom: -15px;
}

.tire-text {
    font-size: 1em !important;
    white-space: pre;
}

.bg-yellow {
    background: rgba(248, 149, 0, 0.5);
}